<ul class="bxslider0 slider-main">
    <li>
    	<img src="pictures/prints/images/backside-down_large.jpg" alt="">
    </li>
    <li>
    	<img src="pictures/prints/images/centreland_large.jpg" alt="">
    </li>
    <li>
    	<img src="pictures/prints/images/tin-tin-bus_large.jpg" alt="">
    </li>
    <li>
    	<img src="pictures/prints/images/daddies-e-type_large.jpg" alt="">
    </li>
</ul>